{% extends "base.html" %} {% block header_stuff %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
  function update_category_plot() {
    $.ajax({
      type: "GET",
      url: "{% url 'get_categories_all_time' %}",
      success: function (response) {
        // parse the response as json
        console.log(response);
        // data looks like this
        // category = {"Code": 35, "Social Media": 10, "Entertainment": 15, "Productivity": 40}

        var data = response;
        // make a donut chart from the data
        var keys = Object.keys(data);
        var values = Object.values(data);

        var trace = {
          labels: keys,
          values: values,
          hole: 0.4,
          type: "pie",
          domain: {
            x: [0, 1],
            y: [0, 1],
          },
        };

        var layout = {
          title: {
            text: "Category usage",
            font: {
              family: "Quicksand, sans-serif",
              size: 20,
            },
          },
          font: {
            family: "JetBrains Mono, monospace",
            size: 12,
          },
          legend: {
            font: {
              family: "JetBrains Mono, monospace",
              size: 12,
            },
            orientation: "h",
          },
          width: window.innerWidth * 0.8, // 80% of viewport width
          height: window.innerHeight * 0.8, // 80% of viewport height
        };

        var data = [trace];
        Plotly.newPlot("top_app_this_week_div", data, layout);
      },

      error: function (response) {
        console.log(response);
      },
    });
  }

  update_category_plot();
</script>

{% endblock %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<div class="flex items-start justify-start w-full h-full px-10 py-10">
  <div class="min-w-[18vw]"></div>
  <section
    style="font-family: Montserrat"
    class="flex font-medium items-center justify-center"
  >
    <section><div id="top_app_this_week_div"></div></section>
  </section>
</div>
{% endblock %}
