{% extends "base.html" %} {% block header_stuff %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
  let isRecording;
  let registrationIntervalTimeout;
  let threadIntervalTimeout;
  let thread_intervals_ms = 1000;
  let registration_intervals_ms = 10000;

  // make a post request to the server
  function update_test() {
    $.ajax({
      type: "POST",
      url: "{% url 'test' %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
      },
      success: function (response) {
        // make a plotly graph
        var data = response;
        // parse the data as json
        data = JSON.parse(data);

        // data is a list of json objects.
        // get the names
        var names = data.map((x) => x["Title"]);
        // get the starttime attribute from all data points
        var starttimes = data.map((x) => x["Start Time"]);
        // get the endtime attribute from all data points
        var endtimes = data.map((x) => x["Registered End Time"]);
        // get the duration attribute from all data points
        var durations = data.map((x) => x["Real Duration"]);

        // convert time to a date object from epoch time (seconds)
        starttime = starttimes.map((x) => new Date(x * 1000));

        // convert time to a date object from epoch time (seconds)
        endtimes = endtimes.map((x) => new Date(x * 1000));
        // convert duration to a number
        durations = durations.map((x) => parseInt(x));

        // count occurances of times for each hour
        var count = {};
        for (var i = 0; i < starttime.length; i++) {
          var date = starttime[i];
          var hour = date.getHours();
          if (count[hour] == undefined) {
            count[hour] = 1;
          } else {
            count[hour] += 1;
          }
        }
        // plot count as a bar chart
        var trace = {
          x: Object.keys(count),
          y: Object.values(count),
          type: "scatter", // Change "line" to "scatter"
          mode: "lines", // Add this line
          fill: "tozeroy", // Add this line
          fillcolor: "rgba(0,128,0,0.2)", // Add this line
        };
        var layout = {
          title: "Count of tasks started at each hour",
          xaxis: {
            title: "Hour",
          },
          yaxis: {
            title: "Count",
          },
        };
        var data = [trace];
        Plotly.newPlot("hourly_usage", data, layout);
      },
      error: function (response) {
        console.log(response);
      },
    });
  }

  function update_counter_plot() {
    // request the get_counter url
    $.ajax({
      type: "GET",
      url: "{% url 'get_counter' %}",
      success: function (response) {
        // parse the response as json
        console.log(response);
        var data = response;
        // get the first word from the keys
        var keys = Object.keys(data);

        // get only the first word of the string
        keys = keys.map((x) => x.split(" ")[0]);
        // get the values
        var values = Object.values(data);

        // plot a line graph
        var trace = {
          x: keys,
          y: values,
          type: "scatter", // Change "line" to "scatter"
          mode: "lines", // Add this line
          fill: "tozeroy", // Add this line
          fillcolor: "rgba(48 42 224 / 0.2)", // Add this line
        };
        var layout = {
          title: "Tracking current apps",
          xaxis: {
            title: "apps",
          },
          yaxis: {
            title: "current usage",
          },
        };
        var data = [trace];
        Plotly.newPlot("current_apps", data, layout);
      },
      error: function (response) {
        console.log(response);
      },
    });
  }

  function update_category_plot() {
    $.ajax({
      type: "GET",
      url: "{% url 'get_category' %}",
      success: function (response) {
        // parse the response as json
        console.log(response);
        // data looks like this
        // category = {"Code": 35, "Social Media": 10, "Entertainment": 15, "Productivity": 40}

        var data = response;
        // make a donut chart from the data
        var keys = Object.keys(data);
        var values = Object.values(data);

        var trace = {
          labels: keys,
          values: values,
          hole: 0.4,
          type: "pie",
        };

        var layout = {
          title: "Category usage",
        };

        var data = [trace];
        Plotly.newPlot("category", data, layout);
      },

      error: function (response) {
        console.log(response);
      },
    });
  }

  function update_plots_at_thread_interval() {
    // if recording is true, then update the plots
    if (isRecording) {
      update_counter_plot();
      update_category_plot();
    }
  }

  function update_plots_at_registration_interval() {
    // if recording is true, then update the plots
    if (isRecording) {
      update_test();
    }
  }

  function update_all_charts() {
    update_test();
    update_counter_plot();
    update_category_plot();
  }

  function get_recording() {
    $.ajax({
      type: "GET",
      url: "{% url 'get_recording' %}",
      success: function (response) {
        isRecording = response;
        if (isRecording) {
          console.log("recording is true");
          clear_intervals();
          registrationIntervalTimeout = setInterval(
            update_plots_at_registration_interval,
            registration_intervals_ms
          );
          threadIntervalTimeout = setInterval(
            update_plots_at_thread_interval,
            thread_intervals_ms
          );
        } else {
          clear_intervals();
          console.log("recording is false");

          // if recording is false, then update the plots once.
          update_all_charts();
        }
      },
      error: function (response) {
        console.log(response);
      },
    });
  }

  function get_intervals_ms() {
    $.ajax({
      type: "GET",
      url: "{% url 'get_intervals_ms' %}",
      success: function (response) {
        thread_intervals_ms = response["thread_intervals_ms"];
        registration_intervals_ms = response["registration_intervals_ms"];
        console.log(response);
        console.log(thread_intervals_ms);
        console.log(registration_intervals_ms);
      },
      error: function (response) {
        console.log(response);
      },
    });
  }

  function clear_intervals() {
    if (registrationIntervalTimeout) {
      clearInterval(registrationIntervalTimeout);
    }
    if (threadIntervalTimeout) {
      clearInterval(threadIntervalTimeout);
    }
  }

  get_intervals_ms();
  // get recording
  get_recording();
</script>

{% endblock %} {% block title %}PC Usage Analyzer - Dashboard{% endblock %}

<!-- content -->

{% block content %}
<div class="flex w-full gap-0">
  <div class="min-w-[18vw]"></div>
  <div class="w-full p-4">
    <div class="flex flex-col p-6 bg-gray-200/50 rounded-md">
      {% comment %} 1st row {% endcomment %}
      <div class="flex flex-row w-full">
        {% comment %} graph 1 {% endcomment %}
        <div class="w-2/3 p-4">
          <div class="rounded-xl p-2 bg-white">
            <div id="current_apps"></div>
          </div>
        </div>
        <div class="w-1/3 p-4">
          <div class="rounded-xl p-2 bg-white">
            <div id="category"></div>
          </div>
        </div>
      </div>

      {% comment %} 2nd row {% endcomment %}
      <div class="flex flex-row w-full">
        <div class="w-full p-4">
          <div class="rounded-xl p-2 bg-white">
            <div id="hourly_usage"></div>
          </div>
        </div>
        {% comment %}
        <div class="w-1/2">
          <div id="counter"></div>
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
