{% extends "base.html" %} {% block header_stuff %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>
  var colorPalette = [
    "#1f77b4",
    "#ff7f0e",
    "#2ca02c",
    "#d62728",
    "#9467bd",
    "#8c564b",
    "#e377c2",
    "#7f7f7f",
    "#bcbd22",
    "#17becf",
  ];
  function getRandomColor() {
    var letters = "0123456789ABCDEF";
    var color = "#";
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;

    //return colorPalette[Math.floor(Math.random() * colorPalette.length)];
  }

  function update_category_plot() {
    $.ajax({
      type: "GET",
      url: "{% url 'get_top_apps_all_time' %}",
      success: function (response) {
        console.log(response);

        var processes = Object.values(response["Process"]);
        var times = Object.values(response["Time"]);

        // sort the processes and times in descending order of time
        var indices = times.map((x, i) => i);
        indices.sort((a, b) => times[b] - times[a]);
        processes = indices.map((i) => processes[i]);
        times = indices.map((i) => times[i]);

        // remove exe from process names
        processes = processes.map((x) => x.replace(".exe", ""));

        // plot a bar graph
        var trace = {
          x: processes,
          y: times,
          type: "bar",
          marker: {
            color: processes.map(
              (_, i) => colorPalette[i % colorPalette.length]
            ), // assign a color from the palette to each bar
          },
        };

        var layout = {
          title: {
            text: "Your Top Apps All Time",
            font: {
              family: "Quicksand, sans-serif",
              size: 20,
            },
          },
          yaxis: {
            title: "Time (Hours)",
          },
          xaxis: {
            title: "Apps",
          },
          font: {
            family: "JetBrains Mono, monospace",
            size: 16,
          },
          width: window.innerWidth * 0.8, // 80% of viewport width
          height: window.innerHeight * 0.8, // 80% of viewport height
        };

        var data = [trace];
        Plotly.newPlot("top_app_all_time_div", data, layout);
      },

      error: function (response) {
        console.log(response);
      },
    });
  }

  update_category_plot();
</script>

{% endblock %} {% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<div class="flex items-start justify-start w-full h-full px-10 py-10">
  <div class="min-w-[18vw]"></div>
  <section
    style="font-family: Montserrat"
    class="flex font-medium items-center justify-center"
  >
    <section><div id="top_app_all_time_div"></div></section>
  </section>
</div>
{% endblock %}
